#Set Values in Terraform Resources
rg_name = "RG-Fonix"
rg_location = "Central India"
service_plan_name = "fonixplan482"
sku_tier = "B1"
app_service_name = "fonixapp482"

#Set DockerHub Credentials
dockerhub_username = "<add-dockerhub-username>"
dockerhub_access_token = "<add-dockerhub-access-token>"

#Set Provider(Azure) Credentials
set_subscription_id = "<add-provider-subscription-id>"
set_client_id = "<add-client-id>"    
set_client_secret = "<add-client-secret>"  
set_tenant_id = "<add-tenant-id>" 

#SKU_Tier List
#Free - Free tier (not suitable for production use)
#Shared - Shared tier (not suitable for production use)
#B1 - Basic tier with 1 GB memory (good for small applications)
#B2 - Basic tier with 2 GB memory (good for moderate applications)
#S1 - Standard tier with 1.75 GB memory (includes auto-scaling capabilities)
#S2 - Standard tier with 3.5 GB memory (includes auto-scaling capabilities)
#P1v2 - Premium V2 tier with 3.5 GB memory (for high-performance applications)
#P2v2 - Premium V2 tier with 7 GB memory (for high-performance applications)